body {
  background-color: #90AB9E;
}

div {
  border-radius: 3px;
  background-color: #fdf8f4;
  font-family: Georgia, serif;
}

#header {
  position: relative;
  top: -25px;
  margin: 50px 50px 0px 50px;
  padding: 25px;
  }
  
.left {
  float: left;
  margin: 0px 0px 50px 50px;
  width: 40%;
  padding: 25px;
}

.right {
  float: right;
  margin: 0px 50px 50px 0px;
  width: 40%;
  padding: 25px;
}

a:hover {

  font-weight: bold;

  text-decoration: underline;
  color: #1805BB;
}


a:visited {
  text-decoration: none;
  color: #000000;
}

a:link {
  text-decoration: none;
  border-bottom: 1px solid #e8e6e4;
  color: #000000;
}
