body {
  background-color: #257CE4;
}

div {
  border-radius: 3px;
  background-color: #fdf8f4;
}

#header {
  position: relative;
  top: -25px;
  margin: 50px 50px 50px 0px;
  }
  
.left {
  float: left;
  margin: 0px 0px 50px 50px;
  width: 40%;
}

.right {
  float: right;
  margin: 0px 50px 50px 0px;
  width: 40%;
}
